In [121]:
import numpy as np
import pandas as pd
import requests as rq
import math
from scipy import stats
import xlsxwriter

In [122]:
stocks = pd.read_csv('/Users/hashimkhan/Desktop/algo_trading_final/sp_500_stocks.csv')
from secret_case import API_TOKEN

In [123]:
#Function sources from: https://stackoverflow.com/questions/312443/how-do-i-split-a-list-into-equally-sized-chunks
def chunks (lst, n):
    """Yield succisve n-sized chunks form lst"""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

In [124]:
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']
dataframes = []

for symbol_string in symbol_strings:
    batch_api_url = "https://yfapi.net/v6/finance/quote"
    
    querystring = {"symbols": symbol_string}
    
    headers = {
        'x-api-key': API_TOKEN
    }

    data = rq.get(batch_api_url, headers=headers, params=querystring).json()

    rows = []
    for result in data.get('quoteResponse', {}).get('result', []):
        symbol = result.get('symbol', np.nan)
        
        year_high_percent = float(result.get('fiftyTwoWeekLowChangePercent', np.nan))
        year_low_percent = float(result.get('fiftyTwoWeekHighChangePercent', np.nan))

        year_price_return = ((year_high_percent + year_low_percent) / 2)

        regular_market_price = float(result.get('regularMarketPrice', np.nan))

        rows.append([symbol, regular_market_price, year_price_return, np.nan])

    dataframe = pd.DataFrame(rows, columns=my_columns)
    dataframes.append(dataframe)

final_dataframe = pd.concat(dataframes, ignore_index=True)
final_dataframe

    Ticker   Price  One-Year Price Return  Number of Shares to Buy
0        A  110.50              -0.148367                      NaN
1      AAL   12.61              -0.128348                      NaN
2      AAP   54.82              -0.356030                      NaN
3     AAPL  170.43               0.116156                      NaN
4     ABBV  153.13               0.040090                      NaN
..     ...     ...                    ...                      ...
499    YUM  121.98               0.012371                      NaN
500    ZBH  110.76              -0.089179                      NaN
501   ZBRA  225.91              -0.171387                      NaN
502   ZION   33.17               0.203902                      NaN
503    ZTS  174.68               0.151424                      NaN

[504 rows x 4 columns]

In [125]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.head()

   index Ticker   Price  One-Year Price Return  Number of Shares to Buy
0    345   NVDA  424.68               1.386180                      NaN
1    194    FTI   21.29               0.810315                      NaN
2    390    RCL   91.96               0.652478                      NaN
3    198     GE  110.89               0.617819                      NaN
4     84    CCL   13.98               0.501571                      NaN

In [126]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio:')

    try:
        float(portfolio_size)
    except ValueError:
        print("That is not a number! \nPlease try again:")
        portfolio_size = input('Enter the size of your portfolio:')

portfolio_input()
print(portfolio_size)

10000000

In [127]:
position_size = float(portfolio_size) /len(final_dataframe.index)
for i in range(0, len(final_dataframe)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[i, 'Price'])

final_dataframe.head()

   index Ticker   Price  One-Year Price Return  Number of Shares to Buy
0    345   NVDA  424.68               1.386180                    470.0
1    194    FTI   21.29               0.810315                   9394.0
2    390    RCL   91.96               0.652478                   2174.0
3    198     GE  110.89               0.617819                   1803.0
4     84    CCL   13.98               0.501571                  14306.0

## Below Contains a More Realistic Momentum Strategy

In [128]:
hqm_columns = [
    'Ticker',
    'Price',
    'One-Year Price Return',
    'One-Year Return Percentile',
    '200-Day Price Return',
    '200-Day Return Percentile',
    '50-Day Price Return',
    '50-Day Return Percentile',
    'HQM Score'
]

In [129]:
dataframes1 = []


for symbol_string in symbol_strings:
    batch_api_url = "https://yfapi.net/v6/finance/quote"
    rows1 = []
    
    querystring = {"symbols": symbol_string}
    
    headers = {
        'x-api-key': API_TOKEN
    }

    data1 = rq.get(batch_api_url, headers=headers, params=querystring).json()

    for result in data1.get('quoteResponse', {}).get('result', []):
        
        symbol = result.get('symbol', np.nan)
       
        year_high_percent = float(result.get('fiftyTwoWeekLowChangePercent', np.nan))
        year_low_percent = float(result.get('fiftyTwoWeekHighChangePercent', np.nan))

        year_price_return = ((year_high_percent + year_low_percent) / 2)

        regular_market_price = float(result.get('regularMarketPrice', np.nan))
        day200_return = float(result.get('twoHundredDayAverageChangePercent', np.nan))
        day50_return = float(result.get('fiftyDayAverageChangePercent', np.nan))

        rows1.append([symbol, regular_market_price, year_price_return, 0, day200_return, 0, day50_return, 0, 0])

    dataframe = pd.DataFrame(rows1, columns=hqm_columns)
    dataframes1.append(dataframe)

hqm_dataframe = pd.concat(dataframes1, ignore_index=True)

In [130]:
time_periods = ['One-Year', '200-Day', '50-Day']

for time_period in time_periods:
    hqm_dataframe[f'{time_period} Return Percentile'] = hqm_dataframe[f'{time_period} Price Return'].rank(pct=True) * 100

hqm_dataframe

,Ticker,Price,One-Year Price Return,One-Year Return Percentile,200-Day Price Return,200-Day Return Percentile,50-Day Price Return,50-Day Return Percentile,HQM Score
0,A,110.50,-0.148367,9.850107,-0.167640,12.633833,-0.081727,27.623126,0
1,AAL,12.61,-0.128348,14.775161,-0.165346,13.062099,-0.159468,3.640257,0
2,AAP,54.82,-0.356030,0.214133,-0.485734,0.214133,-0.178987,1.927195,0
3,AAPL,170.43,0.116156,71.092077,0.027022,68.308351,-0.064560,41.327623,0
4,ABBV,153.13,0.040090,53.961456,0.022247,66.381156,0.026917,92.505353,0
...,...,...,...,...,...,...,...,...,...
499,YUM,121.98,0.012371,48.608137,-0.074557,37.259101,-0.069152,37.259101,0
500,ZBH,110.76,-0.089179,23.768737,-0.144209,16.488223,-0.108712,14.132762,0
501,ZBRA,225.91,-0.171387,7.280514,-0.200885,8.137045,-0.149076,5.567452,0
502,ZION,33.17,0.203902,86.081370,-0.103603,27.194861,-0.077124,29.978587,0
503,ZTS,174.68,0.151424,78.800857,0.022042,65.952891,-0.052522,51.820128,0

In [134]:
from statistics import mean

for row in hqm_dataframe.index:
    row_percentiles=[]
    for time_period in time_periods:
        row_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])

    hqm_dataframe.loc[row, 'HQM Score'] = mean(row_percentiles)


hqm_dataframe

,Ticker,Price,One-Year Price Return,One-Year Return Percentile,200-Day Price Return,200-Day Return Percentile,50-Day Price Return,50-Day Return Percentile,HQM Score
0,A,110.50,-0.148367,9.850107,-0.167640,12.633833,-0.081727,27.623126,16.702355
1,AAL,12.61,-0.128348,14.775161,-0.165346,13.062099,-0.159468,3.640257,10.492505
2,AAP,54.82,-0.356030,0.214133,-0.485734,0.214133,-0.178987,1.927195,0.785153
3,AAPL,170.43,0.116156,71.092077,0.027022,68.308351,-0.064560,41.327623,60.242684
4,ABBV,153.13,0.040090,53.961456,0.022247,66.381156,0.026917,92.505353,70.949322
...,...,...,...,...,...,...,...,...,...
499,YUM,121.98,0.012371,48.608137,-0.074557,37.259101,-0.069152,37.259101,41.042113
500,ZBH,110.76,-0.089179,23.768737,-0.144209,16.488223,-0.108712,14.132762,18.129907
501,ZBRA,225.91,-0.171387,7.280514,-0.200885,8.137045,-0.149076,5.567452,6.995004
502,ZION,33.17,0.203902,86.081370,-0.103603,27.194861,-0.077124,29.978587,47.751606
503,ZTS,174.68,0.151424,78.800857,0.022042,65.952891,-0.052522,51.820128,65.524625

In [136]:
hqm_dataframe.sort_values('HQM Score', ascending = False, inplace = True)
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe.reset_index(inplace=True)
hqm_dataframe

,index,Ticker,Price,One-Year Price Return,One-Year Return Percentile,200-Day Price Return,200-Day Return Percentile,50-Day Price Return,50-Day Return Percentile,HQM Score
0,194,FTI,21.29,0.810315,99.785867,0.401469,100.000000,0.111749,99.785867,99.857245
1,6,ABMD,381.02,0.365295,97.002141,0.306318,99.357602,0.084239,99.357602,98.572448
2,212,HAL,42.03,0.366606,97.216274,0.167803,97.644540,0.056811,97.430407,97.430407
3,283,LLY,549.76,0.345737,96.145610,0.312941,99.571734,0.040271,94.432548,96.716631
4,315,MPC,152.43,0.261458,91.862955,0.213012,99.143469,0.061816,98.286938,96.431121
5,22,AKAM,106.96,0.247388,90.364026,0.210359,98.929336,0.058057,97.644540,95.645967
6,411,SLB,60.80,0.375673,97.430407,0.152422,95.074946,0.034506,93.790150,95.431834
7,227,HRB,42.39,0.206276,86.509636,0.189437,98.501071,0.123384,100.000000,95.003569
8,383,PSX,120.80,0.243747,90.149893,0.167704,97.430407,0.053417,97.216274,94.932191
9,37,ANET,181.60,0.381567,97.858672,0.178018,98.286938,0.002300,85.653105,93.932905
10,66,BKR,36.25,0.362159,96.788009,0.155793,95.503212,0.012542,89.079229,93.790150
11,180,FDX,262.71,0.377273,97.644540,0.161748,96.573876,0.006720,86.937901,93.718772
12,478,WDC,44.56,0.224566,88.650964,0.155173,95.289079,0.053254,97.002141,93.647395
13,65,BKNG,3082.66,0.427298,98.501071,0.165419,97.002141,0.001032,85.438972,93.647395
14,187,FLS,39.65,0.313146,95.503212,0.127745,92.505353,0.021739,91.220557,93.076374
15,204,GOOG,131.46,0.257392,91.434690,0.171197,98.072805,-0.002325,84.154176,91.220557
16,93,CHTR,433.42,0.201563,85.438972,0.160928,96.145610,0.023433,92.077088,91.220557
17,300,MCK,444.38,0.166876,81.584582,0.146252,94.646681,0.051849,96.573876,90.935046
18,338,NOV,21.54,0.200298,85.224839,0.115207,89.721627,0.058248,97.858672,90.935046
19,467,VLO,143.95,0.163769,80.299786,0.136724,93.147752,0.074268,99.143469,90.863669
20,470,VRSK,239.63,0.216015,87.580300,0.160947,96.359743,0.008815,88.008565,90.649536
21,205,GOOGL,130.54,0.252206,90.792291,0.169547,97.858672,-0.004194,83.083512,90.578158
22,414,SNPS,446.71,0.310599,95.289079,0.126994,92.291221,-0.002489,83.940043,90.506781
23,218,HES,158.04,0.228092,89.079229,0.114983,89.293362,0.029143,92.933619,90.435403
24,495,XOM,120.20,0.188529,84.582441,0.097634,86.081370,0.087248,99.571734,90.078515
25,20,AIZ,145.76,0.166315,81.370450,0.134103,92.719486,0.047301,95.931478,90.007138
26,81,CBOE,154.77,0.165392,80.728051,0.143441,94.004283,0.040794,94.860814,89.864383
27,78,CARR,55.08,0.290718,93.790150,0.160565,95.931478,-0.010783,79.871520,89.864383
28,198,GE,110.89,0.617819,99.357602,0.148260,94.860814,-0.020844,74.304069,89.507495
29,449,TXT,78.94,0.168698,82.226981,0.119067,91.006424,0.041131,95.289079,89.507495
30,70,BR,181.22,0.167510,81.798715,0.165231,96.788009,0.009591,88.222698,88.936474
31,175,FANG,157.23,0.143323,77.087794,0.124992,91.862955,0.047771,96.145610,88.365453
32,166,ETN,214.36,0.262625,92.077088,0.166848,97.216274,-0.018946,75.588865,88.294076
33,79,CAT,272.71,0.297753,94.432548,0.115459,89.935760,-0.010175,80.085653,88.151320
34,21,AJG,230.33,0.168010,82.012848,0.119504,91.220557,0.021612,91.006424,88.079943
35,48,ATVI,93.92,0.160429,79.871520,0.135899,92.933619,0.020910,90.792291,87.865810
36,188,FLT,258.86,0.265472,92.291221,0.139805,93.790150,-0.014701,77.516060,87.865810
37,17,AFL,77.03,0.178352,83.725910,0.102171,86.937901,0.026692,92.291221,87.651677
38,361,PCAR,84.81,0.233859,89.507495,0.115061,89.507495,-0.002564,83.725910,87.580300
39,488,WRK,35.75,0.120818,72.376874,0.122188,91.434690,0.069437,98.929336,87.580300
40,371,PKG,151.89,0.165577,80.942184,0.102293,87.152034,0.022653,91.648822,86.581014
41,254,J,136.18,0.132470,74.946467,0.117709,90.792291,0.033791,93.576017,86.438258
42,85,CDNS,230.65,0.295832,94.218415,0.099937,86.295503,-0.013010,78.800857,86.438258
43,109,COP,123.09,0.116803,71.520343,0.122322,91.648822,0.042074,95.503212,86.224126
44,458,UNM,49.41,0.164133,80.513919,0.116736,90.149893,0.007796,87.794433,86.152748
45,351,ODFL,399.89,0.260986,91.648822,0.144443,94.432548,-0.026613,71.306210,85.795860
46,99,CMCSA,44.60,0.255357,91.220557,0.107186,87.794433,-0.014339,77.730193,85.581727
47,243,INTU,508.24,0.175532,82.869379,0.137369,93.361884,-0.010873,79.657388,85.296217
48,324,MU,68.21,0.160344,79.657388,0.092903,85.438972,0.005920,86.723769,83.940043
49,489,WST,375.18,0.361022,96.573876,0.113026,88.865096,-0.034825,65.310493,83.583155

In [137]:
portfolio_input()

In [ ]:
position_size = float(portfolio_size)/len(hqm_dataframe.index)
for i in hqm_dataframe.index:
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(posotion_size/hq,)